
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;   
    align-items: center;
    height: 60px;
    background-color: lightblue;
}
.header img{
    width: 50px;
    border-radius: 50%;
}
.menu{
    width: 90%;
}
.menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.menu ul li a{
    font-weight: 600;
    font-size: 20px;
    padding: 5px 10px;
    transition: all 0.2s;
} 
.menu ul li a:hover{
    border-bottom: 1px solid black;
    color: orangered;
} 
 .banner img{
    width: 100%;
 }
.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.categories a{
    color: black;
}
.categories__items{
    border: 1px black solid;  
}
.categories__items h4{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}
.products button{
    padding: 5px 20px;
    background-color: #F54748;
    color: #fff;
    border:none;
    border-radius: 5px;
    margin-top: 5px;
}
.products__items{
    text-align: center;
    line-height: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.policy, .Instruct{
    line-height: 30px;
}
.footer a{
    font-weight: 600;
    font-size: 18px; 
}
.footer a:hover{
    text-decoration: underline;
}
.address{
    text-align: center;
    background-color: lightblue;
    padding: 15px;
    font-size: 16px;
}

