a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
.img_l {
  width: 200px;
  border-radius: 100px;
}
.pro__item {
  width: 50%;
  margin: auto;
  display: flex;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.pro__item--1 {
  width: 50%;
  display: flex;
  place-content: center;
  padding: 40px;
}
.pro__item--1 img {
  width: 90%;
}
.pro__item--2 {
  border-left: 1px lightgray solid;
  padding: 40px;
}
.pro__item--2 b {
  line-height: 40px;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
